/* Keyframes */

@keyframes blink-critical {
    to {
        /*color: @white;*/
        background-color: @critical;
    }
}


/* Styles */

/* Colors (gruvbox) */
@define-color black #181a1f;
@define-color bg0 #282c34;
@define-color bg1 #31353f;
@define-color bg2 #393f4a;
@define-color bg3 #3b3f4c;
@define-color bg_d #21252b;
@define-color bg_blue #73b8f1;
@define-color bg_yellow #ebd09c;
@define-color fg #abb2bf;
@define-color purple #c678dd;
@define-color green #98c379;
@define-color orange #d19a66;
@define-color blue #61afef;
@define-color yellow #e5c07b;
@define-color cyan #56b6c2;
@define-color red #e86671;
@define-color grey #5c6370;
@define-color light_grey #848b98;
@define-color dark_cyan #2b6f77;
@define-color dark_red #993939;
@define-color dark_yellow #93691d;
@define-color dark_purple #8a3fa0;
@define-color diff_add #31392b;
@define-color diff_delete #382b2c;
@define-color diff_change #1c3448;
@define-color diff_text #2c5372;



@define-color warning @dark_yellow;
@define-color critical @red;
@define-color unfocused @bg2;
@define-color focused @cyan;
@define-color inactive @purple;
@define-color sound @dark_purple;
@define-color network @purple;
@define-color memory @blue;
@define-color cpu @cyan;
@define-color temp @green;
@define-color layout @yellow;
@define-color battery @green;
@define-color date @light_grey;
@define-color time @grey;

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

/* The whole bar */
#waybar {
    background: rgba(40, 40, 40, 0.8784313725);
    /* #282828e0 */
    color: @fg;
    font-family: IBM Plex Mono;
    font-size: 12pt;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
    padding-left: 8pt;
    padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-critical;
    animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
    background: @bg-yellow;
}

/* Workspaces stuff */
#workspaces button {
    /*font-weight: bold;*/
    padding-left: 2pt;
    padding-right: 2pt;
    color: @fg;
    background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
    color: @fg;
    background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
    color: @black;
    background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
    color: @black;
    background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
    background: @dark_cyan;
    /*color: @fg;*/
}

#window {
    margin-right: 35pt;
    margin-left: 35pt;
}

#pulseaudio {
    background: @sound;
    color: @black;
}

#network {
    background: @network;
    color: @black;
}

#memory {
    background: @memory;
    color: @black;
}

#cpu {
    background: @cpu;
    color: @black;
}

#temperature {
    background: @temp;
    color: @black;
}

#language {
    background: @layout;
    color: @black;
}

#battery {
    background: @battery;
    color: @black;
}

#tray {
    background: @date;
}

#clock.date {
    background: @date;
    color: @black;
}

#clock.time {
    background: @time;
    color: @black;
}


